@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --white-color: #fff;
  --gray-color: #edeeed;
  --primary-color: #31d19e;
  --border-color: #e5e5e5;
}
/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px){
  .container {
    width: 1100px;
  }
}

/* Header */ 
#header {
  background-color: var(--gray-color);
}

#header-img  {
  max-width: 150px;
  max-height: 50px;
}

.header-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px;
}

@media (min-width: 480px) {
  .header-content {
    flex-direction: row;
  }
}
/* Nav bar */ 
#nav-bar {
  margin-left: auto;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    li {
      a {
        color: #222;
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        &:hover {
         text-decoration: underline;
         color: var(--primary-color);
        }
      }
    }
  }
}

/* Getting Started */
.getting-started-section {
  padding-top: 70px;
  padding-bottom: 70px;  
}

.getting-started-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-transform: capitalize;
  }
}
#form {
  input {
    padding: 8px 20px;
  } 
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}

/* Featured Section */
.featured-content {
  display: flex;
  .single-item {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; 
  }
  .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 1px solid var(--border-color);
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    i {
      font-size: 25px;
    }
  }
}

/**/